# docker compose up --build -d (containers em background)
# docker compose down -v (reseta completamente o ambiente)
# docker compose stop
# docker compose start
# docker compose ps
# docker volume ls
# docker volume prune (remove volumes órfãos)
# docker logs <nome-ou-id-do-container> (log de saida)
# docker logs -f <nome-ou-id-do-container> (log em tempo de execução)
services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_DB: accessdb
      POSTGRES_USER: accessuser
      POSTGRES_PASSWORD: accesspass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet

  app1:
    build: .
    container_name: app1
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_LIQUIBASE_ENABLED: true
      DB_URL: jdbc:postgresql://postgres:5432/accessdb
      DB_USERNAME: accessuser
      DB_PASSWORD: accesspass
      # JWT_SECRET precisa ter pelo menos 32 caracteres (256 bits)
      JWT_SECRET: supersecretprodkeysupersecretprodkeysupersecretprodkey
      JWT_EXPIRATION: 900000
    depends_on:
      - postgres
    networks:
      - appnet

  app2:
    build: .
    container_name: app2
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_LIQUIBASE_ENABLED: false
      DB_URL: jdbc:postgresql://postgres:5432/accessdb
      DB_USERNAME: accessuser
      DB_PASSWORD: accesspass
      # JWT_SECRET precisa ter pelo menos 32 caracteres (256 bits)
      JWT_SECRET: supersecretprodkeysupersecretprodkeysupersecretprodkey
      JWT_EXPIRATION: 900000
    depends_on:
      - postgres
    networks:
      - appnet

  app3:
    build: .
    container_name: app3
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_LIQUIBASE_ENABLED: false
      DB_URL: jdbc:postgresql://postgres:5432/accessdb
      DB_USERNAME: accessuser
      DB_PASSWORD: accesspass
      # JWT_SECRET precisa ter pelo menos 32 caracteres (256 bits)
      JWT_SECRET: supersecretprodkeysupersecretprodkeysupersecretprodkey
      JWT_EXPIRATION: 900000
    depends_on:
      - postgres
    networks:
      - appnet

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - appnet

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - app1
      - app2
      - app3
    networks:
      - appnet

volumes:
  pgdata:

networks:
  appnet:
    driver: bridge


